{% extends 'auth.html.twig' %}
{% block body %}
    <div class="blankpage-form-field">
        <div class="page-logo m-0 w-100 align-items-center justify-content-center rounded border-bottom-left-radius-0 border-bottom-right-radius-0 px-4">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                <img src="assets/img/logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                <span class="page-logo-text mr-1">SmartAdmin WebApp</span>
                <i class="fal fa-angle-down d-inline-block ml-1 fs-lg color-primary-300"></i>
            </a>
        </div>
        <div class="card p-4 border-top-left-radius-0 border-top-right-radius-0">
            <form method="post">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {#{% if app.user %}#}
                    {#<div class="mb-3">#}
                        {#You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
                    {#</div>#}
                {#{% endif %}#}
                <div class="form-group">
                    <label class="form-label" for="username">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" placeholder="Username"
                           id="inputUsername" class="form-control" required autofocus>
                    <span class="help-block">
                            Your unique username to app
                        </span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                           placeholder="password" required>
                    <span class="help-block">
                            Your password
                        </span>
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Secret Code</label>
                    <input type="text" name="secretCode" id="inputSecretCode" class="form-control"
                           placeholder="Secret Code" required>
                    <span class="help-block">
                            Your secret code by recovering password
                        </span>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button type="submit" class="btn btn-default float-right">Sign up</button>
            </form>
        </div>
        <div class="blankpage-footer text-center">
            <a href="/login"><strong>Sign in</strong></a>
        </div>
    </div>

{% endblock %}
