{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="main contacts">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="title">{% trans %}Contacts{% endtrans %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="map">
                        <h5 class="title-city"><span>US</span> <span>H</span>AWAII</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d211689.96527392082!2d-158.0874907205347!3d21.479576849507215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c006704b74dc5fd%3A0xb68b50a4e1d2a215!2z0JzQuNC70LjQu9Cw0L3QuCwg0JPQsNCy0LDQudC4IDk2Nzg5LCDQodCo0JA!5e0!3m2!1sru!2sua!4v1580254387688!5m2!1sru!2sua"
                                width="100%" height="284" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        <p>PO Box 894761 Mililani, HI 96789<br>
                            <b>{% trans %}Email{% endtrans %}</b>: rudenkollc@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="map">
                        <h5 class="title-city"><span>UK</span>RAINE <span>U</span>ZHGOROD</h5>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2637.734901713713!2d22.26189931566578!3d48.614917479264356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473918f7df7f1767%3A0x57b86087293663bd!2z0YPQuy4g0JrQu9C40LzQv9GD0YjQsCwgMTQsINCj0LbQs9C-0YDQvtC0LCDQl9Cw0LrQsNGA0L_QsNGC0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDg4MDAw!5e0!3m2!1sru!2sua!4v1594079547808!5m2!1sru!2sua"
                                width="100%" height="284" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        <p>
                            Ужгород, ул. Климпуша 14<br>
                            <b>{% trans %}phone{% endtrans %}</b>: +38(099)93-046-406<br>
                            <b>{% trans %}Email{% endtrans %}</b>: a.krestynych@gmail.com
                        </p>
                    </div>
                </div>
                <div class="offset-md-3 col-lg-6">
                    <div id="contacts" class="text-right">
                        <div class="icons text-center">
                            <a href="#">
                                <img src="/image/icons/vk.png"/>
                            </a>
                            <a href="#">
                                <img src="/image/icons/yt.png"/>
                            </a>
                            <a href="#">
                                <img src="/image/icons/fb.png"/>
                            </a>
                            <a href="#">
                                <img src="/image/icons/tl.png"/>
                            </a>
                        </div>
                        <form id="form-contacts">
                            <div class="form-group">
                                <input type="text" id="contact-name" name="name" placeholder="{% trans %}Name{% endtrans %}"
                                       class="form form-control">
                            </div>
                            <div class="form-group">
                                <input type="email" id="contact-email" name="email" placeholder="{% trans %}Email{% endtrans %}"
                                       class="form form-control">
                            </div>
                            <div class="form-group">
                            <textarea name="message" id="contact-message" placeholder="{% trans %}Message{% endtrans %}"
                                      class="form form-control"></textarea>
                            </div>
                            <button class="btn">{% trans %}Send{% endtrans %}</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="container py-3">
                        <div class="row">
                            <div class="col-10 mx-auto">
                                <h5 class="title-city text-center"><span>F</span>AQ</h5>
                                <div class="accordion" id="faqExample">
                                    <div class="card">
                                        <div class="card-header p-2" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="true"
                                                        aria-controls="collapseOne">
                                                    <b>С</b>пособы доставки - <b>Ukraine</b>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                             data-parent="#faqExample">
                                            <div class="card-body">
                                                <p>Вы можете совершить оплату двумя способами:</p>
                                                <ul>
                                                    <li>платежной системой <b>PayPal</b></li>
                                                    <li>платежной системой <b>LigPay</b></li>
                                                </ul>
                                                <p>
                                                    После того как Ваши деньги будут зачислены на <b>Rudenko.market</b>,
                                                    наш сотрудник с помощью <b>службы доставки “Нова пошта”</b> отправит
                                                    Вам товар.
                                                    При заказе товара Вам необходимо сообщить о себе следующие данные:
                                                </p>
                                                <ul>
                                                    <li>имя и фамилию</li>
                                                    <li>ваш e-mail</li>
                                                    <li>номер действующего мобильного телефона</li>
                                                    <li>город</li>
                                                    <li>социальную сеть</li>
                                                    <li>отделение “Нова пошта”, где Вы будете забирать Ваш товар</li>
                                                </ul>
                                                <p>
                                                    Доставка в отделение “Нова пошта” по всей Украине
                                                    С помощью доставки “Нова пошта”, Вы можете получить товар даже в
                                                    самых отдаленных уголках Украины.
                                                    <b>Доставка занимает от 1-3 дня.</b>
                                                    О прибытии заказа Вы будете уведомлены SMS-сообщением “Нова пошта” с
                                                    указанием номера накладной.
                                                    Ваш заказ будет бесплатно хранится в отделении в течении 3-х рабочих
                                                    дней.
                                                    Если по истечении данного срока Вы не получите заказ, товар вернется
                                                    к продавцу.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapseFour" aria-expanded="true"
                                                        aria-controls="collapseFour">
                                                    <b>С</b>пособы доставки - <b>Russian</b>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseFour" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#faqExample">
                                            <div class="card-body">
                                                <p>
                                                    Если Вы планируете приобрести футболки на <b>территории РФ</b> Вас
                                                    автоматически ссылка перекинет на сайт <b>ЗАБОТЛИВАЯ МАМА</b>,
                                                    там непосредственно Вы ознакомитесь со службой доставки и
                                                    оплаты данного товара.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapseFive" aria-expanded="true"
                                                        aria-controls="collapseFive">
                                                    <b>С</b>пособы доставки - <b>USA</b>
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseFive" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#faqExample">
                                            <div class="card-body">
                                                <p>
                                                    Если Вы планируете приобрести футболки на <b>территории USA</b> Вас
                                                    автоматически ссылка перекинет на сайт <b>AMAZON</b>, там
                                                    непосредственно
                                                    Вы ознакомитесь со службой доставки и оплаты данного товара.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-2" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                    <b>П</b>ользовательское соглашение
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#faqExample">
                                            <div class="card-body">
                                                <p>
                                                    Внимание! Перед просмотром этого сайта внимательно прочитайте данные
                                                    условия.
                                                    Если вы не согласны с этими условиями, не используйте этот сайт.
                                                </p>
                                                <p>
                                                <h4>Использование сайта</h4>
                                                Сайт <b>rudenko.market</b> разрешает вам просматривать и
                                                загружать материалы этого сайта только для личного некоммерческого
                                                использования,
                                                при условии сохранения вами всей информации об авторском праве и
                                                других сведений
                                                о праве собственности, содержащихся в исходных материалах и любых их
                                                копиях.
                                                Запрещается изменять материалы этого Сайта, а также распространять
                                                или демонстрировать
                                                их в любом виде или использовать их любым другим образом для
                                                общественных или
                                                коммерческих целей. Любое использование этих материалов на других
                                                сайтах или
                                                в компьютерных сетях запрещается.
                                                </p>
                                                <p>
                                                <h4>Oтказ от ответственности</h4>
                                                Материалы и услуги этого сайта предоставляются «как есть» без
                                                каких-либо гарантий.
                                                <b>Rudenko.market</b> в любое время без уведомления может вносить
                                                изменения
                                                в материалы и
                                                услуги, предоставляемые на этом Сайте, а также в упомянутые в них
                                                продукты и цены.
                                                В случае устаревания материалов и услуг на этом Сайте
                                                <b>Rudenko.market</b>
                                                не обязуется обновлять их.
                                                <b>Rudenko.market</b> ни при каких обстоятельствах не несет
                                                ответственности
                                                за любой
                                                ущерб (включая, но не ограничиваясь ущербом от потери прибыли,
                                                данных или
                                                от прерывания деловой активности), возникший вследствие
                                                использования,
                                                невозможности использования или результатов использования этого
                                                сайта.
                                                </p>
                                                <p>
                                                <h4>Обратная связь и комментарии</h4>
                                                Обращаясь к нам или оставляя комментарии на сайте <b>Rudenko.market</b>,
                                                вы
                                                несете ответственность, что данное сообщение не является незаконным,
                                                вредоносным, угрожающим, клеветническим, оскорбляет нравственность,
                                                нарушает авторские права, пропагандирует ненависть и/или дискриминацию
                                                людей по расовому, этническому, половому, религиозному, социальному
                                                признакам, содержит оскорбления в адрес конкретных лиц или организаций,
                                                а также каким-либо иным образом нарушает действующее законодательство
                                                Украины.
                                                Вы соглашаетесь, что любое ваше сообщение <b>Rudenko.market</b>, может
                                                удалять
                                                без вашего на то согласия, а также безвозмездно использовать по своему
                                                усмотрению.
                                                <b>Rudenko.market</b>, не несет ответственности за любую информацию,
                                                размещенную пользователями Сайта.
                                                </p>
                                                <p>
                                                <h4>Использование персональных данных</h4>
                                                Мы используем различные технологии для сбора и хранения информации,
                                                когда вы посещаете сайт <b>Rudenko.market</b>. Это может включать в себя
                                                запись
                                                одного или нескольких куки или анонимных идентификаторов. Мы также
                                                используем куки и анонимные идентификаторы, когда вы взаимодействуете с
                                                услугами, предложенными нашими партнерами, такими как рекламные услуги,
                                                например, которые могут появиться на других сайтах.
                                                </p>
                                                <p>
                                                <h4>Сообщения и рассылки</h4>
                                                <b>Rudenko.market</b>, может направлять вам сообщение в ответ на
                                                сообщения
                                                (запросы и жалобы), направленные вами через форму обратной связи и в
                                                процессе заказа товаров и/или услуг, при управлении заказами, выдачи
                                                товаров, оказании услуг. <b>Rudenko.market</b>, осуществляет передачу
                                                сообщений
                                                в виде email-писем.
                                                </p>
                                                <p>
                                                <h4>Услуги третьих сторон</h4>
                                                Как правило, поставщики товаров на сайте <b>Rudenko.market</b>, будут
                                                собирать,
                                                использовать, и раскрывать Вашу информацию только в той мере которая
                                                позволит им оказывать услуги, которые они нам предоставляют.
                                                После того, как Вы покинете наш сайт <b>Rudenko.market</b> или будете
                                                перенаправлены на другой веб сайт или приложение, Вы больше не будете
                                                руководствоваться Условиями обслуживания нашего веб сайта.
                                                </p>
                                                <p>
                                                <h4>Ссылки</h4>
                                                Когда Вы нажимаете на ссылку, в нашем интернет магазине <b>Rudenko.market</b>,
                                                она Вас может вывести с нашего сайта. Мы не несем ответственности за
                                                Политику конфиденциальности других сайтов и рекомендуем Вам прочитать их
                                                условия конфиденциальности.
                                                </p>
                                                <p>
                                                <h4>Вопросы и контактная информация</h4>
                                                Если Вы хотите получить доступ, исправить, изменить либо удалить любую
                                                имеющеюся информацию о Вас, зарегистрировать жалобу свяжитесь с нашим
                                                представителем <b>Rudenko.market</b> по e-mail:
                                                <b>rudenkollc@gmail.com</b> либо
                                                напишите нам на <b>PO Box: 894761 Mililani, HI 96789</b>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--container-->
                </div>
            </div>
        </div>
    </section>

    <!--Model Popup starts-->
    <div class="container">
        <div class="row">
            <div class="modal fade" id="ignismyModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="thank-you-pop">
                                <img src="/image/success-icon-green.png" alt="">
                                <h1>{% trans %}thank_you{% endtrans %}</h1>
                                <p>{% trans %}success_message{% endtrans %}</p>
                                <h3 class="cupon-pop" style="display: none"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Model Popup ends-->
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ absolute_url(asset('/js/contacts.js')) }}"></script>
    {% endblock %}
{% endblock %}