{% extends 'base.html.twig' %}

{% block title %}Rudenko Market{% endblock %}

{% block body %}
    <section class="main">
        <div class="container-fluid">
            <div class="row">
                <div id="product-main-left-block" class="col-xl-3 col-md-3 col-xs-12">
                    {% if productMainView[1] is defined %}
                        <div class="card-top">
                            <a url-href="{{  productMainView[1].url }}" productId="{{  productMainView[1].id }}">
                                <div class="image-products" style="background-image: url('{{ ulrFileProduct }}{{ productMainView[1].image }}');"></div>
                                <div class="title-products">{{ productMainView[1].title }}</div>
                            </a>
                        </div>
                    {% endif %}
                    {% if productMainView[2] is defined %}
                        <div class="card-top">
                            <a url-href="{{  productMainView[2].url }}" productId="{{  productMainView[2].id }}">
                                <div class="image-products" style="background-image: url('{{ ulrFileProduct }}{{ productMainView[2].image }}');"></div>
                                <div class="title-products">{{ productMainView[2].title }}</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-xl-6 col-md-6 col-xs-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in mainCarousel %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index-1 }}"
                                    class="{% if loop.index  == 1 %}active{% endif %}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in mainCarousel %}
                                <div style="background-image: url({{ ulrFileSlide }}{{ image.image }});" class="main-carousel-item carousel-item {% if loop.index  == 1 %}active{% endif %}">
                                    {% if image.url %}<a target="_blank" href="{{ image.url }}">{% endif %}{% if image.url %}</a>{% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div id="product-main-right-block" class="col-xl-3 col-md-3 col-xs-12">
                    {% if productMainView[3] is defined %}
                        <div class="card-top">
                            <a url-href="{{  productMainView[3].url }}" productId="{{  productMainView[3].id }}">
                                <div class="image-products" style="background-image: url('{{ ulrFileProduct }}{{ productMainView[3].image }}');"></div>
                                <div class="title-products">{{ productMainView[3].title }}</div>
                            </a>
                        </div>
                    {% endif %}
                    {% if productMainView[4] is defined %}
                        <div class="card-top">
                            <a url-href="{{  productMainView[4].url }}" productId="{{  productMainView[4].id }}">
                                <div class="image-products" style="background-image: url('{{ ulrFileProduct }}{{ productMainView[4].image }}');"></div>
                                <div class="title-products">{{ productMainView[4].title }}</div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {{ include('/product/modal/product/procut_block.html.twig', { 'termOf': termOf }) }}
    </section>
    <div class="container-fluid">
        <hr class="red-line">
    </div>
    <section class="main">
        <div class="container-fluid">
            <div class="row">
                {% for advert in advertising %}
                <div class="col-xl-2">
                    <div class="advertising">
                        <div class="card">
                            {% if advert.status == true %}
                                <a href="{{ advert.url }}">
                                    <img src="{{ urlAdvertising }}{{ advert.image }}"/>
                                </a>
                            {% else %}
                                <img src="/image/adv.jpg"/>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="slider sliderPartners">
                    <div class="slider__wrapper">
                        {% for partner in partners %}
                        <div class="col-xl-2">
                            <div class="partners">
                                <div class="card-partner">
                                    <a href="{{ partner.url }}">
                                        <img src="{{ urlPartner }}{{ partner.image }}"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="slider__control slider__control_left" href="#" role="button"></a>
                    <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
                </div>
            </div>
        </div>
    </section>


    <script>
        'use strict';
        var multiItemSlider = (function () {
            return function (selector, config) {
                var
                    _mainElement = document.querySelector(selector), // основный элемент блока
                    _sliderWrapper = _mainElement.querySelector('.slider__wrapper'), // обертка для .slider-item
                    _sliderItems = _mainElement.querySelectorAll('.sliderPartners .col-xl-2'), // элементы (.slider-item)
                    _sliderControls = _mainElement.querySelectorAll('.slider__control'), // элементы управления
                    _sliderControlLeft = _mainElement.querySelector('.slider__control_left'), // кнопка "LEFT"
                    _sliderControlRight = _mainElement.querySelector('.slider__control_right'), // кнопка "RIGHT"
                    _wrapperWidth = parseFloat(getComputedStyle(_sliderWrapper).width), // ширина обёртки
                    _itemWidth = parseFloat(getComputedStyle(_sliderItems[0]).width), // ширина одного элемента
                    _positionLeftItem = 0, // позиция левого активного элемента
                    _transform = 0, // значение транфсофрмации .slider_wrapper
                    _step = _itemWidth / _wrapperWidth * 100, // величина шага (для трансформации)
                    _items = [], // массив элементов
                    _interval = 0,
                    _config = {
                        isCycling: false, // автоматическая смена слайдов
                        direction: 'right', // направление смены слайдов
                        interval: 3000, // интервал между автоматической сменой слайдов
                        pause: true // устанавливать ли паузу при поднесении курсора к слайдеру
                    };

                for (var key in config) {
                    if (key in _config) {
                        _config[key] = config[key];
                    }
                }

                // наполнение массива _items
                _sliderItems.forEach(function (item, index) {
                    _items.push({item: item, position: index, transform: 0});
                });

                var position = {
                    getItemMin: function () {
                        var indexItem = 0;
                        _items.forEach(function (item, index) {
                            if (item.position < _items[indexItem].position) {
                                indexItem = index;
                            }
                        });
                        return indexItem;
                    },
                    getItemMax: function () {
                        var indexItem = 0;
                        _items.forEach(function (item, index) {
                            if (item.position > _items[indexItem].position) {
                                indexItem = index;
                            }
                        });
                        return indexItem;
                    },
                    getMin: function () {
                        return _items[position.getItemMin()].position;
                    },
                    getMax: function () {
                        return _items[position.getItemMax()].position;
                    }
                }

                var _transformItem = function (direction) {
                    var nextItem;
                    if (direction === 'right') {
                        _positionLeftItem++;
                        if ((_positionLeftItem + _wrapperWidth / _itemWidth - 1) > position.getMax()) {
                            nextItem = position.getItemMin();
                            _items[nextItem].position = position.getMax() + 1;
                            _items[nextItem].transform += _items.length * 100;
                            _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                        }
                        _transform -= _step;
                    }
                    if (direction === 'left') {
                        _positionLeftItem--;
                        if (_positionLeftItem < position.getMin()) {
                            nextItem = position.getItemMax();
                            _items[nextItem].position = position.getMin() - 1;
                            _items[nextItem].transform -= _items.length * 100;
                            _items[nextItem].item.style.transform = 'translateX(' + _items[nextItem].transform + '%)';
                        }
                        _transform += _step;
                    }
                    _sliderWrapper.style.transform = 'translateX(' + _transform + '%)';
                }

                var _cycle = function (direction) {
                    if (!_config.isCycling) {
                        return;
                    }
                    _interval = setInterval(function () {
                        _transformItem(direction);
                    }, _config.interval);
                }

                // обработчик события click для кнопок "назад" и "вперед"
                var _controlClick = function (e) {
                    if (e.target.classList.contains('slider__control')) {
                        e.preventDefault();
                        var direction = e.target.classList.contains('slider__control_right') ? 'right' : 'left';
                        _transformItem(direction);
                        clearInterval(_interval);
                        _cycle(_config.direction);
                    }
                };

                var _setUpListeners = function () {
                    // добавление к кнопкам "назад" и "вперед" обрботчика _controlClick для событя click
                    _sliderControls.forEach(function (item) {
                        item.addEventListener('click', _controlClick);
                    });
                    if (_config.pause && _config.isCycling) {
                        _mainElement.addEventListener('mouseenter', function () {
                            clearInterval(_interval);
                        });
                        _mainElement.addEventListener('mouseleave', function () {
                            clearInterval(_interval);
                            _cycle(_config.direction);
                        });
                    }
                }

                // инициализация
                _setUpListeners();
                _cycle(_config.direction);

                return {
                    right: function () { // метод right
                        _transformItem('right');
                    },
                    left: function () { // метод left
                        _transformItem('left');
                    },
                    stop: function () { // метод stop
                        _config.isCycling = false;
                        clearInterval(_interval);
                    },
                    cycle: function () { // метод cycle
                        _config.isCycling = true;
                        clearInterval(_interval);
                        _cycle();
                    }
                }

            }
        }());

        var slider = multiItemSlider('.slider', {
            isCycling: true
        })

    </script>
{% endblock %}
