{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">{% trans %}Services{% endtrans %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" id="usarmy" type-id="1" type-pay="true" amount="30" target="_blank" class="uslug-menu" data-toggle="modal" data-target="#uslug">
                        <span>{% trans %}UsArmyConsultation{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" target="_blank" type-id="2" id="job" class="uslug-menu" amount="0" data-toggle="modal" data-target="#uslug">
                        <span>{% trans %}WorkInTheUsa{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" target="_blank" type-id="3" type-pay="true" amount="20" id="konsult" class="uslug-menu" data-toggle="modal"
                       data-target="#uslug">
                        <span>{% trans %}PersonalConsultation{% endtrans %}</span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" target="_blank" type-id="4" id="sotrud" amount="0" class="uslug-menu" data-toggle="modal" data-target="#uslug">
                        <span>{% trans %}Cooperation{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" id="youtube" type-id="5" target="_blank" amount="0" class="uslug-menu" data-toggle="modal"
                       data-target="#uslug">
                        <span>{% trans %}AdvertisingInYoutube{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" id="imigration" type-id="6" type-pay="true" amount="20" target="_blank" class="uslug-menu" data-toggle="modal"
                       data-target="#uslug">
                        <span>{% trans %}ImmigrationInTheUsa{% endtrans %}</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="uslug" tabindex="-1" role="dialog" aria-labelledby="uslug" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        <form id="services-form">
                            <div class="col-md-12">
                                <h2 id="nameUslug"></h2>
                            </div>
                                <div class="form-group">
                                    <input type="text" name="name" required placeholder="{% trans %}Name{% endtrans %}" id="name"
                                           class="form form-control">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" required placeholder="{% trans %}Email{% endtrans %}" id="email"
                                           class="form form-control">
                                </div>
                                <div class="form-group">
                                    <p style="color: #fff;">Заказать время консультации <span class="red-word">"Hawaii"</span></p>
                                    <input type="hidden" name="datepicker" placeholder="{% trans %}DateRegister{% endtrans %}"
                                           id="datepicker"
                                           class="form form-control">
                                </div>
                                <div class="form-group">
                                    <p style="color: #fff;">Заказать консультацию - 45 минут</p>
                                    <textarea cols="5" rows="5" name="message" required placeholder="{% trans %}Message{% endtrans %}"
                                              class="form form-control"></textarea>
                                </div>
                                <input type="hidden" name="type" id="type-services" />
                                <input type="submit" class="btn send-services buy-procut-drop" value="{% trans %}Send{% endtrans %}">
                                <button class="btn pay-services buy-procut-drop" >
                                    {% trans %}Pay{% endtrans %} - <span class="amount-pay">0</span>$
                                </button>
                        </form>
                        <form id="payment-form" style="display: none">
                            <div id="card-element"><!--Stripe.js injects the Card Element--></div>
                            <button id="submit">
                                <div class="spinner hidden" id="spinner"></div>
                                <span id="button-text">Pay</span>
                            </button>
                            <p id="card-error" role="alert"></p>
                            <p class="result-message hidden">
                                Payment succeeded
                            </p>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Model Popup starts-->
    <div class="container">
        <div class="row">
            <div class="modal fade" id="ignismyModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="thank-you-pop">
                                <img src="/image/success-icon-green.png" alt="">
                                <h1>{% trans %}thank_you{% endtrans %}</h1>
                                <p>{% trans %}success_message{% endtrans %}</p>
                                <h3 class="cupon-pop" style="display: none"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Model Popup ends-->

<style>

    .result-message {
        line-height: 22px;
        font-size: 16px;
    }
    .result-message a {
        color: rgb(89, 111, 214);
        font-weight: 600;
        text-decoration: none;
    }
    .hidden {
        display: none;
    }
    #card-error {
        color: rgb(105, 115, 134);
        text-align: left;
        font-size: 13px;
        line-height: 17px;
        margin-top: 12px;
    }
    #card-element {
        border-radius: 4px 4px 0 0 ;
        padding: 12px;
        border: 1px solid rgba(50, 50, 93, 0.1);
        height: 44px;
        width: 100%;
        background: white;
    }
    #payment-request-button {
        margin-bottom: 32px;
    }
    /* Buttons and links */
    button {
        background: #5469d4;
        color: #ffffff;
        font-family: Arial, sans-serif;
        border-radius: 0 0 4px 4px;
        border: 0;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        display: block;
        transition: all 0.2s ease;
        box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
        width: 100%;
    }
    button:hover {
        filter: contrast(115%);
    }
    button:disabled {
        opacity: 0.5;
        cursor: default;
    }
    /* spinner/processing state, errors */
    .spinner,
    .spinner:before,
    .spinner:after {
        border-radius: 50%;
    }
    .spinner {
        color: #ffffff;
        font-size: 22px;
        text-indent: -99999px;
        margin: 0px auto;
        position: relative;
        width: 20px;
        height: 20px;
        box-shadow: inset 0 0 0 2px;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }
    .spinner:before,
    .spinner:after {
        position: absolute;
        content: "";
    }
    .spinner:before {
        width: 10.4px;
        height: 20.4px;
        background: #5469d4;
        border-radius: 20.4px 0 0 20.4px;
        top: -0.2px;
        left: -0.2px;
        -webkit-transform-origin: 10.4px 10.2px;
        transform-origin: 10.4px 10.2px;
        -webkit-animation: loading 2s infinite ease 1.5s;
        animation: loading 2s infinite ease 1.5s;
    }
    .spinner:after {
        width: 10.4px;
        height: 10.2px;
        background: #5469d4;
        border-radius: 0 10.2px 10.2px 0;
        top: -0.1px;
        left: 10.2px;
        -webkit-transform-origin: 0px 10.2px;
        transform-origin: 0px 10.2px;
        -webkit-animation: loading 2s infinite ease;
        animation: loading 2s infinite ease;
    }
    @-webkit-keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes loading {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @media only screen and (max-width: 600px) {
        form {
            width: 80vw;
        }
    }
</style>

    {% block javascripts %}
        {{ parent() }}
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{{ absolute_url(asset('/js/services.js')) }}"></script>
    {% endblock %}
{% endblock %}