/* mixins */
@font-face {
    font-family: "Bender";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/bender.eot?") format("eot"), url("/fonts/bender.woff") format("woff"), url("/fonts/bender.ttf") format("truetype"), url("/fonts/bender.svg#Bender") format("svg");
}

@font-face {
    font-family: "Bender-Bold";
    font-style: bold;
    font-weight: 700;
    src: url("/fonts/bender-bold.eot?") format("eot"), url("/fonts/bender-bold.woff") format("woff"), url("/fonts/bender-bold.ttf") format("truetype"), url("/fonts/bender-bold.svg#Bender-Bold") format("svg");
}

/* custom classes */

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    font: 400 16px/1.2 "Bender", sans-serif;
    letter-spacing: .025em;
    word-spacing: .1em;
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    color: #9f9f9f;
}

header {
    background: url("/image/header_bg_4.jpg") center center no-repeat;
    background-size: cover;
    /*background-position: 50%;*/
    /*height: 100vh;*/
    /*height: 350px;*/
    height: 280px;

    position: relative;
    /*overflow: hidden;*/
    flex: 1 0 auto;

    display: block;

    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

header #logo-1 {
    /*width: 240px;*/
    /*position: absolute;*/
    /*height: 240px;*/
    /*left: 12%;*/
    /*margin-top: 12px;*/
    width: 184px;
    position: absolute;
    height: 185px;
    left: 15%;
    margin-top: 12px;
}

header #logo-2 {
    /*width: 156px;*/
    /*height: 246px;*/
    /*position: absolute;*/
    /*right: 49%;*/
    /*margin-top: 12px;*/
    width: 188px;
    height: 186px;
    position: absolute;
    right: 42%;
    margin-top: 12px;
}

header #logo-3 {
    /*width: 156px;*/
    /*height: 246px;*/
    /*position: absolute;*/
    /*right: 12%;*/
    /*margin-top: 12px;*/
    width: 117px;
    height: 185px;
    position: absolute;
    right: 16%;
    margin-top: 12px;
}

#contacts .icons{
    width: 240px;
    margin: 10px auto 0px auto;
    padding: 0px 0px 20px 0px;
    display: flex;
}
section.contacts h5.title-city span, section.contacts p b, section.contacts ul li b{
    color: #ff0000;
}
section.contacts .accordion .card-header{
    border-bottom: 1px solid #ff0000;
    background: #121212;
}
section.contacts .accordion .card-header button{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
section.contacts .accordion .card-header button b{
    color: #ff0000;
}
section.contacts .card{
    background: none;
}
section.contacts .card .card-body{
    background: #fff;
    border-bottom: 1px solid #ff0000;
}
/*section.contacts .accordion .card-body{*/
    /*background: #121212;*/
/*}*/

header #logo-1 img, header #logo-2 img, header #logo-3 img {
    height: 100%
}

footer {
    background: url(/image/footer_bg_1.jpg) 100% 2% no-repeat;
    background-size: cover;
    height: 245px;
    width: 100%;
    padding: 20px 0px 0px 0px;
    position: relative;
    margin-top: 30px;
}

#menu {
    /*margin: 0px 0px 0px -20px;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: -260px;*/
    bottom: -200px;
    z-index: 99;
}

#menu ul {
    background: #151515;
    color: #ffffff;
    height: 70px;
    margin: 0 auto;
    padding: 15px 20px;
}

#menu li {
    float: left;
    list-style: none;
    padding: 0px 25px;
    text-align: center;
    position: relative;
    border-left: 2px solid #db0000;
    margin-top: 8px;
}

#menu li.merchMenu {
    border-left: 0px solid #db0000;
    margin-top: 0px;
    background: url('/image/merch.png') no-repeat 87% 50%;
    padding: 0px 65px 0px 0px;
    height: 100%;
    background-size: contain;
}

#menu li a {
    color: #ffffff;
    display: inline-block;
    margin: 0 auto;
    font-family: "Bender-Bold";
    /*padding: 1.3em 1.2em;*/
    vertical-align: middle;
    text-decoration: none;
    font-size: 21px;
    overflow: hidden;
    text-transform: uppercase;
}

#menu li span.second-text {
    top: 20px;
    position: absolute;
    width: 57%;
    left: 0;
    color: #cdcdcd;
    font-size: 19px;
}

#menu li span.replace-color-red {
    color: #db0000;
}

#menu li a:hover, #menu li a.active {
    color: #db0000;
}

#menu li a:hover span.replace-color-red, #menu li .active span.replace-color-red {
    color: #fff;
}

#menu li a:hover span.second-text, #menu li .active span.second-text {
    color: #de3737;
}

.main {
    /*max-width: 1200px;*/
    position: relative;
    /*margin: 25px auto 10px auto;*/
    margin: 25px auto 50px auto;
    display: table;
    width: 100%;
}

.main-product {
    min-height: 750px;
}

.carousel .carousel-indicators .active {
    border: 1px solid #ef0916;
    height: 14px;
    width: 14px;
    padding: 0px;
    background: #ef0916;
    opacity: 1;
}

.carousel .carousel-indicators li {
    border: 1px solid #ef0916;
    height: 14px;
    width: 14px;
    padding: 0px;
    background: #fff;
    opacity: 1;
}

.carousel {
    position: relative;
    border: 2px solid #ef0916;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
}

#top-products {
    /*width: 27%;*/
    /*float: left;*/
    overflow: hidden;
}

.card-top:nth-child(1) {
    margin-bottom: 15px;
}

.card-top {
    /*height: 254px;*/
    /*overflow: hidden;*/
    /*border: 2px solid #ef0916;*/
    /*border-radius: 10px;*/
    /*background: #fff;*/
    /*position: relative;*/
}

.card-top a {
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    border-top: 1px solid #ff0000;
    margin-bottom: 15px;
}

.card-top img {
    width: 100%;
    height: 100%;
}

.card-top .image-products {
    /*height: 269px;*/
    height: 256px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.card-top .title-products {
    z-index: 99;
    bottom: 0px;
    line-height: 23px;
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-family: "Bender-Bold";
    text-align: center;
    border-top: 0.5px solid #ff0000;
    float: left;
    width: 100%;
    padding: 15px 15px 0px 15px;
    height: 75px;
}

.carousel-inner .main-carousel-item {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    /*height: 675px;*/
    height: 628px;
    text-align: center;
}

hr.red-line {
    border-top: 4px solid rgb(185, 5, 14);
    margin-top: 26px;
    margin-bottom: 40px;
}

.advertising {
    /*width: 20%;*/
    text-align: center;
    /*float: left;*/
    /*padding: 0px 0px 0px 15px;*/
}

.advertising:nth-child(1) {
    padding: 0px;
}

.advertising .card {
    background: #000;
    border: 2px solid #ef0916;
    border-radius: 10px;
    /*height: 250px;*/
    /*padding: 5px;*/
    overflow: hidden;
}

.advertising .card a, .partners .card a {
    height: 100%;
    width: 100%;
    text-align: center;
}

.advertising .card img, .partners .card-partner img {
    height: 100%;
    width: 100%;
}

.partners:nth-child(1) {
    margin: 0px;
}

.partners {
    /*width: 16%;*/
    /*float: left;*/
    /*text-align: center;*/
    /*margin: 0px 0px 0px 7px;*/
    /*overflow: hidden;*/
}

#menu-product {
    background: #121212;
    float: left;
    width: 100%;
}

#menu-product ul {
    list-style: none;
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
}

#menu-product ul span {
    display: block;
    font-size: 23px;
    font-weight: normal;
}

#menu-product ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 10px 15px 20px;
    float: left;
    width: 100%;
}

#menu-product ul li a:hover {
    color: #ff0000;
}

#menu-product ul li a:hover span {
    color: #fff;
}

#menu-product ul li {
    border-bottom: 2px solid #ff0000;
    float: left;
    width: 100%;
}

footer .icons {
    width: 244px;
    margin: 0 auto;
    position: relative;
    /*bottom: -190px;*/
}

footer .icons a {
    float: left;
    margin: 0px -5px;
}

footer .icons a img {
    width: 60%;
}

footer .map-text {
    margin: 37px auto 0 auto;
    position: relative;
    /*bottom: -85px;*/
    z-index: 99;
    text-align: center;
}

footer .map-text p {
    font-weight: bold;
    font-size: 26px;
    color: #fff;
    margin-top: 15px;
}

footer .map-text img {
    width: 32px;
    margin-right: 15px;
}

footer #footer_merch {
    width: 262px;
    position: absolute;
    right: 0px;
    top: 4px;
}

#products {
    /*float: left;*/
    /*width: 900px;*/
}

#products .items {
    float: left;
    width: 100%;
    background: #121212;
    margin-bottom: 25px;
    /*margin-left: 15px;*/
}

#products .items .items-price {
    float: left;
    width: 100%;
}

#products .items .items-price div {
    float: left;
    font-family: "Bender-Bold";
    width: 50%;
    font-size: 29px;
    position: relative;
    text-align: center;
    padding: 15px 5px 10px 5px;
}

#products .items .items-price span.price-text {
    font-size: 13px;
    position: absolute;
    left: 10px;
    top: 4px;
    font-weight: bold;
}

#products .items .regular-price {
    background: #ff0000;
    color: #fff;
    overflow: hidden;
}

#products .items .regular-price:before {
    position: absolute;
    width: 103%;
    height: 50%;
    content: '';
    border-bottom: 3px solid #000000;
    pointer-events: none;
    transform: rotate(-14deg);
    top: 2px;
    left: -7px;
}

#products .items .new-price {
    background: #121212;
    color: #fff;
}

#products .items .new-price span.price-text {
    color: #ff0000;
}

#products .items .block-promocode, #products .items .price-exchange, #products .block-items {
    width: 100%;
    float: left;
}

#products .items .image-products img {
    /*width: 100%;*/
    /*height: 250px;*/
    width: 100%;
    /*margin-top: -50%;*/
}

#products .items .price-exchange {
    color: #fff;
    font-family: "Bender-Bold";
    font-size: 25px;
    border-bottom: 2px solid #ff0000;
    text-align: center;
    padding: 21px 5px;
    border-top: 2px solid #ff0000;
}

#products .items .price-exchange div, #products .items .block-promocode div {
    width: 50%;
    float: left;
}

#products .items .price-exchange span {
    color: #ff0000;
    font-size: 19px;
}

.block-promocode {
    color: #fff;
    font-family: "Bender";
    font-size: 25px;
    text-align: center;
    padding: 10px 5px;
}

.block-promocode .prozent-code-product proc {
    color: #fff;
    font-family: "Bender-Bold";
    font-size: 25px;
    text-align: center;
}

.block-promocode .prozent-code-product span {
    color: #ff0000;
}

.block-promocode .code-product {
    color: #ff0000;
    font-family: "Bender-Bold";
    position: relative;
}

#products .items .block-promocode .code-product span {
    position: absolute;
    left: 40px;
    top: 12px;
}

#paginations {
    width: 100%;
    float: left;
    margin-top: 15px;
}

#paginations button {
    background: #ff090e;
    color: #fff;
    width: 260px;
    margin: 0 auto;
    font-family: "Bender-Bold";
    border: 0px;
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
    display: block;
    outline: none;
}

#paginations button:hover {
    background: #121212;
    color: #ff090e;
}

.buy-procut-drop:hover {
    background: #fff;
    color: #ff090e;
}

#map {
    /*float: left;*/
    /*width: 600px;*/
    text-align: center;
    color: #fff;
    font-family: "Bender-Bold";
}

#contacts {
    /*float: left;*/
    /*width: 600px;*/
    /*padding-left: 15px;*/
}

#contacts form input {
    /*margin-bottom: 10px;*/
}

#contacts form button, #products-block .lice button, .buy-procut-drop {
    background: #ff0000;
    font-family: "Bender-Bold";
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 0px 30px;
}

.buy-procut-drop {
    height: 34px;
    border-radius: 8px;
}

#contacts form textarea {
    height: 100px;
}

#contacts .icons a {
    float: left;
    width: 40px;
    margin-right: 15px;
    margin-top: 15px;
}

#contacts .icons img {
    width: 100%;
}

#products-block .modal-content {
    background: #121212;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #ff0000;
    background-color: #ff0000;
}

#products-block .lice textarea {
    margin-top: 10px;
    height: 300px;
}

#products-block .licenzia-text {
    float: left;
    width: 100%;
    height: 300px;
    overflow: auto;
    font-size: 13px;
    font-family: "Bender";
    z-index: 99;
    position: relative;
    border: 1px solid #f00;
    padding: 7px 10px;
    margin-bottom: 10px;
}

#products-block .licenzia-text h3 {
    font-size: 17px;
    font-weight: bold;
}

#products-block .lice button {
    margin-top: 15px;
}

#merch-block .modal-content, #products-block .modal-content {
    background: #121212;
    padding: 15px 15px 20px 15px;
}

#uslug .modal-content {
    background: #121212;
    padding: 15px 15px 20px 15px;
}

.step-block {
    background: #333333;
    position: absolute;
    width: 70px;
    height: 14px;
}

.step-block::after {
    content: '';
    position: absolute;
    right: -27px;
    top: 0px;
    border: 7px solid transparent;
    border-left: 20px solid #333333;
}

.step-block:nth-child(1) {
    left: 0px;
}

.step-block:nth-child(2) {
    left: 110px;
}

.step-block:nth-child(3) {
    left: 218px;
}

.step-block-active {
    background: #ff0000;
}

.step-block-active::after {
    border-left: 20px solid #ff0000;
}

.block-steps {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 20px;
}

.block-steps .step-block span {
    top: -19px;
    position: absolute;
    left: 16px;
    color: #fff;
    font-family: "Bender-Bold";
}

.image-order img {
    width: 100%;
}

.image-order {
}

.right-colum-order {
}

.price-order {
    font-family: "Bender-Bold";
    color: #fff;
    font-size: 25px;
    margin-bottom: 5px;
}

.size-order {
    float: left;
    width: 100%;
}

.size-order span {
    border: 1px solid #fff;
    color: #fff;
    padding: 1px 4px;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 26px;
    margin-right: 8px;
    cursor: pointer;
}

.size-order span:hover {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.size-order .disabled-order, .size-order .disabled-order:hover {
    border: 1px solid #6f6f6f;
    color: #a0a0a0;
    cursor: not-allowed;
}

.size-order .active-order {
    border: 1px solid #ff0000;
    color: #ff0000;
}

.color-order .active-order {
    border: 2px solid #ff0000;
    color: #ff0000;
}

/*.size-order .active-order:hover {*/
/*border: 1px solid #fff;*/
/*color: #fff;*/
/*}*/

.count-order {
    position: relative;
    width: 100%;
    float: left;
    height: 43px;
    margin: 9px 0px 0px 0px;
}

.count-order input {
    width: 40px;
    height: 30px;
    position: absolute;
    border: 1px solid #fff;
    left: 40px;
    text-align: center;
}

.count-order button.count-btn {
    width: 30px;
    height: 31px;
    background: none;
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    font-family: "Bender-Bold";
    display: inline-block;
    outline: none;
}

.count-order button.count-btn:hover {
    color: #ff0000;
    border: 1px solid #ff0000;
}

.count-order .right-count-order {
    left: 90px;
}

/* Chrome, Safari, Edge, Opera */
.count-order input::-webkit-outer-spin-button,
.count-order input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.count-order input[type=number] {
    -moz-appearance: textfield;
}

.color-order span {
    padding: 0px 9px;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-right: 8px;
    cursor: pointer;
}

.color-order span:hover {
    border: 2px solid #ff0000;
}

.color-order {
    float: left;
    width: 100%;
    margin: 20px 0px 8px 0px;
}

.step {
    width: 100%;
}

#uslug h2 {
    border-bottom: 2px solid #ff0000;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.uslug-menu {
    background: #151515;
    width: 100%;
    float: left;
    height: 185px;
    margin-bottom: 15px;
    border-bottom: 4px solid #f00;
    text-align: center;
    line-height: 70px;
    color: #fff;
    font-size: 29px;
    font-family: "Bender-Bold";
}

.uslug-menu span {
    font-family: "Bender-Bold";
    background: rgb(21, 21, 21, 0.2);
    padding: 14px 26px;
    border-radius: 5px;
    display: block;
    height: 100%;
    line-height: 150px;
    text-transform: uppercase;
}

.uslug-menu span:first-letter {
    color: #f00;
}

.uslug-menu:hover {
    color: #f00;
    border-bottom: 4px solid #fff;
    text-decoration: none;
}

.uslug-menu:hover span:first-letter {
    color: #fff;
}

.title {
    font-family: "Bender";
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.title:first-letter {
    color: #f00;
}

#usarmy {
    background: url(/image/services/usarmy.jpg);
    background-size: cover;
}

#imigration {
    background: url(/image/services/imigration.jpg);
    background-size: cover;
}

#youtube {
    background: url(/image/services/youtube.jpg);
    background-size: cover;
}

#sotrud {
    background: url(/image/services/sotrud.jpg) 0% 41%;
    background-size: cover;
}

#konsult {
    background: url(/image/services/konsult.jpg) 0% 41%;
    background-size: cover;
}

#job {
    background: url(/image/services/job.jpg);
    background-size: cover;
}

.card-top a {
    position: relative;
}

.title-prod:first-letter {
    color: #f00;
}

.config-icons {
    position: absolute;
    z-index: 99;
    cursor: cell;
    right: 0px;
    padding: 10px;
}

.items a {
    position: relative;
    float: left;
    width: 100%;
    cursor: pointer;
}

.title-prod {
    z-index: 99;
    bottom: 0px;
    line-height: 50px;
    margin: 0px 0px 10px 0px;
    color: #fff;
    font-family: "Bender-Bold";
    text-align: center;
    border-top: 0.5px solid #ff0000;
    float: left;
    width: 100%;
    padding-top: 10px;
}

.items .image-products {
    position: relative;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item {
    flex: 0 0 50%;
}

.slider__control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}

.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.slider__item > div {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}

.error-message {
    display: none;
}

.error {
    color: #dc3543;
}

.error label:after {
    border: 1px solid #dc3543;
}

.error .error-message {
    display: block;
}

.local {
    position: absolute;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    float: left;
    right: 25%;
    text-align: center;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 0px 8px;
}

.local ul {
    margin: 0px;
    padding: 0px;
}

.local li {
    list-style: none;
    float: left;
    padding: 8px 0px;
}

.local li img {
    cursor: pointer;
    width: 25px;
    margin: 0px 6px;
}

.page-link {
    color: #ffffff;
    background-color: #ff090e;
    border: 1px solid #121212;
}

.page-link:hover, .page-item.active .page-link {
    color: #ff0000;
    background-color: #121212;
    border-color: #121212;
}

.datepicker-days td.disabled {
    background: #f00 !important;
    color: #fff !important;
}

.order-lines {
    position: relative;
    width: 100%;
    float: left;
    border-bottom: 2px solid #ff0000;
    margin: 5px 0px 15px 0px;
}

/*--thank you pop starts here--*/
#ignismyModal .modal-content {
    background-color: #121212;
}

.thank-you-pop {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.thank-you-pop img {
    width: 76px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.thank-you-pop h1 {
    font-size: 42px;
    margin-bottom: 25px;
    color: #c5c5c5;
}

.thank-you-pop p {
    font-size: 20px;
    margin-bottom: 27px;
    color: #c5c5c5;
}

.thank-you-pop h3.cupon-pop {
    font-size: 25px;
    margin-bottom: 40px;
    color: #c5c5c5;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 2px dashed #222;
    clear: both;
    font-weight: normal;
}

.thank-you-pop h3.cupon-pop span {
    color: #ff090e;
}

.thank-you-pop a {
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #8BC34A;
    border-radius: 17px;
}

.thank-you-pop a i {
    margin-right: 5px;
    color: #fff;
}

#ignismyModal .modal-header {
    border: 0px;
}

.modal-header .close {
    color: #f00;
    opacity: 1;
}

/*--thank you pop ends here--*/

.change-ukraine, .change-another {
    display: none;
}

#img-product-list {
    width: 100%;
    margin-top: 7px;
}

#img-product-list a {
    float: left;
    width: 32%;
    height: 65px;
    overflow: hidden;
}

#img-product-list a:first-child {
    float: left;
    margin-right: 2%;
}

#img-product-list a:nth-child(3) {
    float: right;
    margin-left: 2%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f00;
}

/*#products-block .price-order .price span{*/
/*color: #f00;*/
/*}*/

#products-block .promocode-view {
    font-size: 13px;
    display: block;
    color: #fff;
    margin-top: 6px;
}

#products-block .promocode-view .stars-text {
    font-size: 10px;
}

.red-word {
    color: #f00;
}

.disabled {
    cursor: no-drop !important;
}

.disabled .buy-procut-drop:hover, .disabled .buy-procut-drop {
    background: #77818c;
    color: #fff;
    opacity: 1;
}

#products .items .image-products {
    background-size: cover;
    height: 305px;
    width: 100%;
    background-position: 50% 50%;
    float: left;
}

/*#products .items .image-products {*/
    /*height: 296px;*/
    /*overflow: hidden;*/
    /*width: 100%;*/
/*}*/

.copy-promocode-animation {
    animation: change-background 4s ease infinite;
}

@keyframes change-background {
    0% {
        background: #ff090e;
        color: #fff;
    }
    50% {
        background: #fff;
        color: #ff090e;
    }
    100% {
        background: #ff090e;
        color: #fff;
    }
}

.description:first-letter {
    color: #ff090e;
}

.description {
    clear: both;
    margin-top: 14px;
    width: 100%;
    float: left;
    font-size: 13px;
    font-family: "Bender";
    color: #fff;
}

.close {
    z-index: 99;
    color: #f00000;
    opacity: 1;
    text-shadow: 0 1px 0 #f00;
    width: 10px;
    position: absolute;
    right: 15px;
    top: 7px;
    outline: none;
}

.close:hover {
    z-index: 99;
    color: #fff;
    opacity: 1;
    text-shadow: 0 1px 0 #fff;
    outline: none;
}

.block-buy-amazone{
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.block-buy-amazone button{
    width: 138px;
    background: url(/image/amazon-button.png);
    height: 43px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #752727;
    border-radius: 29px;
}

.construction_equipment_icon{
    background: url(/image/construction.png) 96% 50%;
    background-repeat: no-repeat;
    background-size: 48px;
}

.btn-filter-products{
    display: none;
}

@media (max-width: 499px) {

    header #menu #navbarNav{
        background: #151515;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        padding: 46px 0px 0px 0px;
        position: fixed;
        z-index: 80;
    }
    header #menu {
        z-index: 11;
        top: 0px;
        position: absolute;
        left: 0px;

    }
    header #menu button{
        background: #151515;
        z-index: 89;
        top: 0px;
        position: absolute;
        left: 0px;
        color: #fff;
    }
    .local {
        right: 19px;
    }
    #menu li.merchMenu {
        border-left: 0px solid #db0000;
        background: url(/image/merch.png) no-repeat 35% 50%;
        padding: 0px 0px 50px 0px;
        height: 100%;
        background-size: 24px;
    }
    #menu li span.second-text {
        top: 20px;
        position: static;
        width: 57%;
        left: 0;
        color: #cdcdcd;
        font-size: 19px;
    }
    #menu li {
        border-left: 0px solid #db0000;
        padding: 5px 25px;
        border-bottom: 2px solid #db0000;
    }

    #menu li a {
        color: #ffffff;
        display: block;
        margin: 0 auto;
        font-family: "Bender-Bold";
        font-size: 19px;
        overflow: hidden;
        text-transform: uppercase;
        float: left;
        width: 100%;
    }
    header #logo-2 {
        width: 188px;
        height: 186px;
        position: absolute;
        right: 29%;
        margin-top: 44px;
    }
    .main {
        position: relative;
        margin: 25px auto 50px auto;
        display: table;
        width: 100%;
        z-index: 10;
    }
    .btn-filter-products, .btn-filter-products:hover, .btn-filter-products:active, .btn-filter-products:focus{
        background: #121212;
        color: #fff;
        border: 1px solid #f00;
        font-size: 14px;
        height: 40px;
        width: 90px;
        display: block;
        margin: -61px 0px 0px 0px;
        border-radius: 7px;
    }
    .btn-filter-products i{
        margin: 0px 6px 0px 0px;
    }
    #menu-product{
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 767.98px) {
    header #menu #navbarNav{
        background: #151515;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        padding: 46px 0px 0px 0px;
        position: fixed;
        z-index: 80;
    }
    header #menu {
        z-index: 11;
        top: 0px;
        position: absolute;
        left: 0px;

    }
    header #menu button{
        background: #151515;
        z-index: 89;
        top: 0px;
        position: absolute;
        left: 0px;
        color: #fff;
    }
    .local {
        right: 19px;
    }
    #menu li.merchMenu {
        border-left: 0px solid #db0000;
        background: url(/image/merch.png) no-repeat 35% 50%;
        padding: 0px 0px 50px 0px;
        height: 100%;
        background-size: 24px;
    }
    #menu li span.second-text {
        top: 20px;
        position: static;
        width: 57%;
        left: 0;
        color: #cdcdcd;
        font-size: 19px;
    }
    #menu li {
        border-left: 0px solid #db0000;
        padding: 5px 25px;
        border-bottom: 2px solid #db0000;
    }

    #menu li a {
        color: #ffffff;
        display: block;
        margin: 0 auto;
        font-family: "Bender-Bold";
        font-size: 19px;
        overflow: hidden;
        text-transform: uppercase;
        float: left;
        width: 100%;
    }
    header #logo-2 {
        width: 188px;
        height: 186px;
        position: absolute;
        right: 29%;
        margin-top: 44px;
    }
    .main {
        position: relative;
        margin: 25px auto 50px auto;
        display: table;
        width: 100%;
        z-index: 10;
    }
    .btn-filter-products, .btn-filter-products:hover, .btn-filter-products:active, .btn-filter-products:focus{
        background: #121212;
        color: #fff;
        border: 1px solid #f00;
        font-size: 14px;
        height: 40px;
        width: 90px;
        display: block;
        margin: -61px 0px 0px 0px;
        border-radius: 7px;
    }
    .btn-filter-products i{
        margin: 0px 6px 0px 0px;
    }
    #menu-product{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1600.98px) {
}

@media (max-width: 1199px) {
}

#form-contacts{
    text-align: left;
}
#form-contacts button{
    float: right;
}