<script id="merchTmpl" type="text/x-jquery-tmpl">
 <div class="modal-dialog modal-lg tmpl-merch" role="document">
        <div class="modal-content">
            <button type="button" class="close text-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="block-steps">
                        <div id="step-block-1" class="step-block step-block-active"><span>Step1</span></div>
                        <div style="display: none" id="step-block-2" class="step-block"><span>Step2</span></div>
                    </div>
                    <div class="step" id="step1" num="1">
                        <div class="row">
                            <div class="col-md-12">
                                <h2><h2>Delivery Address</h2></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select id="country" class="selectpicker form form-control"
                                            data-live-search="true">
                                        <option class="country-us" url-items="${url}" value="US">United States</option>
                                        <option class="country-ua" url-items="${urlUa}" value="UA">Ukraine</option>
                                        <option class="country-ru" url-items="${urlRu}" value="RU">Russian Federation</option>
                                        <option class="country-variant" value="variant">Another variant</option>
                                    </select>
                                </div>
                                <div class="form-group country_input_block" style="display:none;">
                                    <label for="country_input">Delivery Country</label>
                                    <input type="text" placeholder="Delivery Country" id="deliveryCountry"
                                           class="form form-control">
                                    <small class="error-message text-danger">
                                        {% trans %}requiredField{% endtrans %}
                                    </small>
                                </div>
                                <div id="control-block-first-step">
                                    <button style="display: none" class="btn buy-procut-drop next-step-merch">{% trans %}Next Step{% endtrans %}</button>
                                    <button class="btn buy-procut-drop open-product-magazine">{% trans %}Buy{% endtrans %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step" id="step2" num="2" style="display:none">
                        <div class="row">
                            <div class="col-md-12"><h2>${name}</h2></div>
                        </div>
                        <div class="row">
                            <div class="image-order col-md-5">
                                <a href="/uploads/merch/${image}" data-lightbox="image-order" data-title="${name}">
                                    <img src="/uploads/merch/${image}">
                                </a>

                                <div id="img-product-list">
                                {{ '{{each(prop, val) attacment }}' }}
                                    <a href="/uploads/merch/${val}" data-lightbox="image-order" data-title="${name}">
                                        <img src="/uploads/merch/${val}">
                                    </a>
                                {{ '{{/each}}' }}
                                </div>
                            </div>
                            <div class="right-colum-order  col-md-7">
                                <div class="price-order row">
                                    <div class="col-lg-4">
                                        <div class="price price-usd">
                                            <span class="priceNum">${priceDiscount}</span><span class="red-word">$</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="price price-ua">
                                            <span class="priceNum">${uah}</span><span class="red-word">грн</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="price price-ru">
                                            <span class="priceNum">${rub}</span><span class="red-word">руб</span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="order-lines">
                                <div class="size-order">
                                    <span class="active-order">M</span>
                                    <span>L</span>
                                    <span>XL</span>
                                    <hr style="margin: 15px 0px 15px 0px;" class="order-lines">
                                </div>
{#                                <div class="count-order">#}
{#                                    <button class="left-count-order count-btn"><</button>#}
{#                                    <input type="number" id="count-order-value" value="1" min="1"/>#}
{#                                    <button class="right-count-order count-btn">></button>#}
{#                                </div>#}
                                <div id="merch-description" class="description">
                                    {{ '{{html description}}' }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="w-100" id="order-merch">
                                <input type="hidden" name="size" value="M" id="sizeProduct"/>
                                <input type="hidden" name="productId" value="${productId}" id="productId"/>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br>
                                            <div class="form-group">
                                                <label for="basic-url">{% trans %}full_name{% endtrans %}</label><br>
                                                <input type="text" id="name-order"
                                                       name="surname_name"
                                                       placeholder="{% trans %}full_name{% endtrans %}"
                                                       class="form form-control">
                                                <small class="error-message text-danger">
                                                    {% trans %}requiredField{% endtrans %}
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="basic-url">{% trans %}Email{% endtrans %}</label><br>
                                                <input type="text" id="email-order"
                                                       name="email"
                                                       placeholder="{% trans %}Email{% endtrans %}"
                                                       class="form form-control">
                                                <small class="error-message text-danger">
                                                    {% trans %}requiredField{% endtrans %}
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="basic-url">{% trans %}phone{% endtrans %}</label><br>
                                                <input type="text" id="phone-order"
                                                       name="phone"
                                                       placeholder="{% trans %}phone{% endtrans %}"
                                                       class="form form-control">
                                                <small class="error-message text-danger">
                                                    {% trans %}requiredField{% endtrans %}
                                                </small>
                                            </div>
                                            <div class="form-group change-another">
                                                <label for="basic-url">{% trans %}Country{% endtrans %}</label><br>
                                                <input type="text" id="country-order"
                                                name="country"
                                                       placeholder="{% trans %}Country{% endtrans %}"
                                                       class="form form-control">
                                                <small class="error-message text-danger">
                                                    {% trans %}requiredField{% endtrans %}
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="basic-url">{% trans %}city{% endtrans %}</label><br>
                                                <input type="text" id="city-order"
                                                       name="city"
                                                       placeholder="{% trans %}city{% endtrans %}"
                                                       class="form form-control">
                                                <small class="error-message text-danger">
                                                    {% trans %}requiredField{% endtrans %}
                                                </small>
                                            </div>
                                            <div class="form-group change-another">
                                                <label for="basic-url">{% trans %}Address{% endtrans %}</label><br>
                                                <input type="text" id="address-order"
                                                name="address"
                                                       placeholder="{% trans %}Address{% endtrans %}"
                                                       class="form form-control">
                                                <small class="error-message text-danger">
                                                    {% trans %}requiredField{% endtrans %}
                                                </small>
                                            </div>
                                            <div class="form-group">
                                                <label for="basic-url">{% trans %}SocialNetwork{% endtrans %}</label><br>
                                                <input type="text" id="social-network"
                                                name="social_network"
                                                       placeholder="{% trans %}SocialNetwork{% endtrans %}"
                                                       class="form form-control">
                                            </div>
                                            <div class="form-group change-ukraine">
                                                <label for="basic-url">{% trans %}
                                                    nova_poshta{% endtrans %}</label><br>
                                                <input type="text" id="office-order"
                                                name="nova_poshta"
                                                       placeholder="№ {% trans %}nova_poshta{% endtrans %}"
                                                       class="form form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="order-lines">

                                    <div class="col-md-12">
                                        <button style="float: left;" class="btn buy-procut-drop prev-step-merch">{% trans %}Prev Step{% endtrans %}
                                        </button>
                                        <button style="float: right;margin-left: 20px;"
                                                class="btn buy-procut-drop preorder-product">{% trans %}Preorder{% endtrans %}
                                        </button>
                                        <button style="float: right;" class="btn buy-procut-drop buy-product">{% trans %}Buy{% endtrans %}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<div class="modal fade" id="merch-block" tabindex="-1" role="dialog" aria-labelledby="merch-block"
     aria-hidden="true">

</div>