<!--Model Popup starts-->
<div class="container">
    <div class="row">
        <div class="modal fade" id="ignismyModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="thank-you-pop">
                            <img src="/image/success-icon-green.png" alt="">
                            <h1>{% trans %}thank_you{% endtrans %}</h1>
                            <p>{% trans %}success_order_message{% endtrans %}</p>
                            <h3 class="cupon-pop">{% trans %}id_order{% endtrans %}: <span>12345</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Model Popup ends-->