{% block body %}
    <form method="POST" action="https://www.liqpay.ua/api/3/checkout" accept-charset="utf-8">
        <input type="hidden" name="data" value="{{pay.data}}">
        <input type="hidden" name="signature" value="{{pay.signature}}">
        <input type="image" src="//static.liqpay.ua/buttons/p1ru.radius.png" name="btn_text">
    </form>
{% endblock %}