{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <section class="main main-product">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title">{{ title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 position-absolute" style="z-index: 99">
                    <button class="btn-filter-products" show="false"><i class="fa fa-filter" aria-hidden="true"></i>{% trans %}filters{% endtrans %}</button>
                    <div id="menu-product">
                        <ul>
                            {% for menu in leftMenu %}
                                <li>
                                    <a href="?category={{ menu.id }}" typeProduct="id-category-{{ menu.id }}" class="{{ menu.classCss }}">
                                        {{ menu.name }}
                                        <span>{{ menu.secondName }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% if leftMenu %}
                                <li>
                                    <a href="?" typeProduct="all">
                                        {% trans %}All{% endtrans %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 offset-xl-3" style="min-height: 400px;">
                    <div id="products">
                        <div class="block-items">
                            <div class="row">
                                {% if not items %}
                                    <div class="empty-category">
                                        <img height="400px" src="/image/empty-category.jpg" />
                                    </div>
                                {% endif %}
                                {% for item in items %}
                                    <div class="col-xl-4
                                {% for cat in item.category %}
                                    id-category-{{ cat.category_id }}
                                {% endfor %}
                                     ">
                                        <div class="items">
                                            <!-- Button trigger modal -->
                                            <a url-href="{{ item.url }}" productId="{{ item.id }}" target="_blank">
                                                <div class="items-price">
                                                    <div class="regular-price">
                                                        <span class="price-text">REGULAR</span>
                                                        {{ item.price }}$
                                                    </div>
                                                    <div class="new-price">
                                                        <span class="price-text">NEW</span>
                                                        {{ item.newPrice }}$
                                                    </div>
                                                </div>
                                                <div class="image-products" style="background-image: url('{{ ulrFileProduct }}/{{ item.image }}')">
                                                    {#<img src="{{ ulrFileProduct }}{{ item.image }}">#}
                                                </div>
                                                <div class="title-prod">{{ item.title }}</div>
                                                <div class="price-exchange">
                                                    <div class="price-ua">
                                                        {{ item.uah }} <span>грн</span>
                                                    </div>
                                                    <div class="price-ru">
                                                        {{ item.rub }} <span>руб</span>
                                                    </div>
                                                </div>
                                                <div class="block-promocode">
                                                    <div class="prozent-code-product">
                                                        <proc>{{ item.precent }}% OFF</proc>
                                                        <span>P</span>ROMO<span>CODE</span>
                                                    </div>
                                                    <div class="code-product">
                                                        <span>{{ item.promocode }}</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="paginations">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if pagination is defined %}
                                        {% for item in pagination %}
                                            <li class="page-item {{ item.slected }}"><a class="page-link"
                                                                                        href="?page={{ item.pages }}">{{ item.pages }}</a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    {#<div class="modal fade" id="iagree" tabindex="-1" role="dialog" aria-labelledby="iagree" aria-hidden="true">#}
        {#<div class="modal-dialog" role="document">#}
            {#<div class="modal-content">#}
                {##}
            {#</div>#}
        {#</div>#}
    {#</div>#}


    {{ include('/product/modal/product/procut_block.html.twig', { 'termOf': termOf }) }}
{% endblock %}
