{% extends 'base.html.twig' %}
{% block title %}Merch Rudenko Market{% endblock %}
{% block body %}
    <section class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <h1 class="title">{{ title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 position-absolute" style="z-index: 99">
                    <div id="menu-product">
                        <ul>
                            {% for menu in leftMenu %}
                                <li>
                                    <a href="?category={{ menu.id }}" typeProduct="id-category-{{ menu.id }}">
                                        {{ menu.name }}
                                        <span>{{ menu.secondName }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            {% if leftMenu %}
                                <li>
                                    <a href="?" typeProduct="all">
                                        {% trans %}All{% endtrans %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-9 offset-xl-3" style="min-height: 400px;">
                    <div id="products" class="product-merch">
                        <div class="block-items">
                            <div class="row">
                                {% for item in items %}
                                    <div class="col-xl-4
                                        {% for cat in item.category %} id-category-{{ cat.category_id }} {% endfor %}">
                                        <div class="items">
                                            {#data-toggle="modal" data-target="#merch-block"#}
                                            <a productId="{{ item.id }}" >
                                                <div class="items-price">
                                                    <div class="regular-price">
                                                        <span class="price-text">REGULAR</span>
                                                        {{ item.price }}$
                                                    </div>
                                                    <div class="new-price">
                                                        <span class="price-text">NEW</span>
                                                        <span class="new-price-merch">
                                                            {% if item.newPrice is empty %}
                                                                {{ item.price }}$
                                                            {% else %}
                                                                {{ item.newPrice }}$
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="image-products"
                                                     style="background-image: url('{{ ulrFileProduct }}/{{ item.image }}')">
                                                </div>
                                                <div class="title-prod">{{ item.title }}</div>
                                                <div class="price-exchange">
                                                    <div class="price-ua">
                                                        {{ item.uah }} <span>грн.</span>
                                                    </div>
                                                    <div class="price-ru">
                                                        {{ item.rub }} <span>руб.</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="paginations">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if pagination is defined %}
                                    {% for item in pagination %}
                                        <li class="page-item {{ item.slected }}"><a class="page-link"
                                                                                    href="{{ item.url }}">{{ item.pages }}</a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include '/product/modal/merch/success_order.html.twig' %}
    {% include '/product/modal/merch/merch_block.html.twig' %}
    <script src="{{ absolute_url(asset('/js/merch.js')) }}"></script>
{% endblock %}