{% set route = app.request.attributes.get('_route') %}
{% if route=='index' %}
    {% if app.request.locale!='en' %}
        {% set routeEn = '/' %}
        {% set route = '' %}
    {% else %}
        {% set routeEn = '/' %}
        {% set route = '' %}
    {% endif %}
{% else %}
    {% if app.request.locale!='en' %}
        {% set routeEn = '/en/'~route %}
    {% endif %}
{% endif %}
<nav class="local">
    <ul>
        {% if app.request.locale!='en' %}
            <li><a href="{{ routeEn }}"><img lang="en" src="/image/local/local_en.png"></a></li>
        {% endif %}
        {% if app.request.locale!='ua' %}
            <li><a href="/ua/{{ route }}"><img lang="ua" src="/image/local/local_ua.png"></a></li>
        {% endif %}
        {% if app.request.locale!='ru' %}
            <li><a href="/ru/{{ route }}"><img lang="ru" src="/image/local/local_ru.png"></a></li>

        {% endif %}
    </ul>
</nav>