<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {#<link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
    {#<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">#}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

    <link href="/css/lightbox.css" rel="stylesheet" />
    <link href="/css/glyphicon.css" rel="stylesheet" />

    {#<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />#}
    <meta charset="UTF-8">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script src="/js/lightbox.js"></script>



    {#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}


    {#<!--Optional JavaScript -->#}
    {#<!--jQuery first, then Popper.js, then Bootstrap JS -->#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>#}
    {#<script src="/js/main.js"></script>#}
    {#<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"#}
    {#integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"#}
    {#crossorigin="anonymous"></script>#}
    {#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"#}
    {#integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"#}
    {#crossorigin="anonymous"></script>#}


</head>
<body>
<header style="padding: 0px 20px">
    {% include '_locale_switcher.html.twig' %}
    <div id="logo-1" class="d-none d-sm-block"><img src="/image/heade_logo/pis.png"></div>
    <div id="logo-2"><img src="/image/heade_logo/market.png"></div>
    <div id="logo-3" class="d-none d-sm-block"><img src="/image/heade_logo/warfare.png"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <nav id="menu" class="navbar navbar-expand-xl navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="merchMenu">
                                <a href="{{ path('merch') }}">RUD<span class="replace-color-red">&</span>CO<br><span
                                            class="second-text">{% trans %}Merch{% endtrans %}</span></a>
                            </li>
                            <li>
                                <a href="{{ path('index') }}">{% trans %}Main{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('clothes') }}">{% trans %}Clothes{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('footwear') }}">{% trans %}Footwear{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('backpacks') }}">{% trans %}Backpacks{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('knives') }}">{% trans %}Knives{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('equipment') }}">{% trans %}Equipment{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('services') }}">{% trans %}Services{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('contacts') }}">{% trans %}Contacts{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
{% block body %}{% endblock %}
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
            </div>
            <div class="col-xl-4 text-center">
                <div class="map-text">
                    <img src="/image/icons/map.png">
                    <p>PO Box 894761 Mililani, HI 96789</p></div>
                <div class="icons">
                    <a href="#">
                        <img src="/image/icons/vk.png"/>
                    </a>
                    <a href="#">
                        <img src="/image/icons/yt.png"/>
                    </a>
                    <a href="#">
                        <img src="/image/icons/fb.png"/>
                    </a>
                    <a href="#">
                        <img src="/image/icons/tl.png"/>
                    </a>
                    <img style="margin-top: 20px" width="72" src="/image/payments.png">
                </div>
            </div>
            <img class="d-none d-sm-block" id="footer_merch" src="/image/heade_logo/market_footer.png"/>
        </div>
    </div>
</footer>


{% block javascripts %}

    <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>


    {#<script src="//code.jquery.com/jquery-1.12.4.js"></script>#}
    {#<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
    {##}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>


    <script src="/js/main.js"></script>
    <script src="/js/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>



    <script>
        $('.right-count-order').click(function () {
            var cout = parseInt($('.count-order input').val());
            $('.count-order input').val(cout + 1);
        })
        $('.left-count-order').click(function () {
            var cout = parseInt($('.count-order input').val());
            if (cout > 1) {
                $('.count-order input').val(cout - 1);
            } else {
                $('.count-order input').val(1);
            }
        })
    </script>
    <script>

        $(window).scroll(function (eventObject) {
            var scroll = $(window).scrollTop();
            if (scroll >= 400) {
                $('#menu-product').parent('div').addClass('position-fixed');
                $('#menu-product').parent('div').addClass('fixed-top');
            } else {
                $('#menu-product').parent('div').removeClass('position-fixed');
                $('#menu-product').parent('div').removeClass('fixed-top');
                $('#menu-product').parent('div').addClass('position-absolute');
            }
        });
    </script>
    <script>
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true
        })
    </script>
{% endblock %}

</body>
</html>