<div class="modal fade" id="products-block" tabindex="-1" role="dialog" aria-labelledby="products-block"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close text-right" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="container">
                <div class="row">
                    <div class="block-steps">
                        <div id="step-block-1" class="step-block step-block-active"><span>Step1</span></div>
                        <div id="step-block-2" class="step-block"><span>Step2</span></div>
                    </div>
                    <div class="step" id="step1" num="1">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Ознакомление с условиями</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="lice">
                                    <div class="licenzia-text">
                                        {{ termOf|raw }}
                                    </div>
                                    <div class=" custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input form form-control"
                                               id="agreeCheckbox">
                                        <label name="iagreeInput" class="custom-control-label" require
                                               for="agreeCheckbox">I
                                            agree</label>

                                        <small class="error-message text-danger">
                                            {% trans %}requiredField{% endtrans %}
                                        </small>
                                    </div>
                                    <button class="btn accept-conditions">
                                        {% trans %}Next Step{% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step" style="display: none" id="step2" num="2">
                        <div class="row">
                            <div class="col-md-12"><h2>Tactical Knife Yamato</h2></div>
                        </div>
                        <div class="row">
                            <div class="image-order col-md-5">
                                <a href="/uploads/product/ямато лицо.jpg" data-lightbox="image-order"
                                   data-title="Tactical Knife Yamato" id="main-image-modal-a">
                                    <img id="main-image-modal" src="/uploads/product/ямато лицо.jpg">
                                </a>

                                <div id="img-product-list">
                                    {#<a href="/uploads/product/ямато лицо.jpg" data-lightbox="image-order"#}
                                       {#data-title="Tactical Knife Yamato">#}
                                        {#<img src="/uploads/product/ямато лицо.jpg">#}
                                    {#</a>#}
                                    {#<a href="/uploads/product/ямато лицо.jpg" data-lightbox="image-order"#}
                                       {#data-title="Tactical Knife Yamato">#}
                                        {#<img src="/uploads/product/ямато лицо.jpg">#}
                                    {#</a>#}
                                    {#<a style="display: none" href="/uploads/product/ямато лицо.jpg"#}
                                       {#data-lightbox="image-order" data-title="Tactical Knife Yamato">#}
                                        {#<img src="/uploads/product/ямато лицо.jpg">#}
                                    {#</a>#}
                                    {#<a style="display: none" href="/uploads/product/ямато лицо.jpg"#}
                                       {#data-lightbox="image-order" data-title="Tactical Knife Yamato">#}
                                        {#<img src="/uploads/product/ямато лицо.jpg">#}
                                    {#</a>#}
                                </div>
                            </div>
                            <div class="right-colum-order  col-md-7">
                                <div class="price-order row">
                                    <div class="col-lg-4">
                                        <div class="price price-usd">
                                            <span class="priceNum">15.00</span><span class="red-word">$</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="price price-ua">
                                            <span class="priceNum">15.00</span><span class="red-word">грн</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="price price-ru">
                                            <span class="priceNum">15.00</span><span class="red-word">руб</span>
                                        </div>
                                    </div>
                                </div>
                                <hr class="order-lines">
                                <div class="block-promocode">
                                    <div class="prozent-code-product">
                                        <proc>7.4</proc>% OFF
                                        <span>P</span>ROMO<span>CODE</span>
                                    </div>
                                    <div class="code-product">
                                        <span class="promocode-text"></span>
                                    </div>
                                </div>
                                <hr class="order-lines">
                                <div style="float: left;" class="text-center copy-code-block">
                                    <button class="btn copy-promocode copy-promocode-animation buy-procut-drop">
                                        {% trans %}Copy{% endtrans %} PROMOCODE
                                    </button>
                                    <span class="promocode-view"><span class="stars-text">****</span> <span class="red-word">P</span>ROMO<span class="red-word">CODE</span>: <b class="promocode-text"></b> <span class="stars-text">****</span></span>
                                </div>
                                <div class="block-buy disabled" style="float: right;">
                                    <button disabled class="btn buy-procut-drop disabled buy-product-open" style="width: 152px; margin-left: 10px;">
                                        {% trans %}Buy{% endtrans %}
                                    </button>
                                </div>
                                <div class="block-buy-amazone">
                                    <button class="btn buy-procut-drop-amazon buy-product-open-amazon">
                                    </button>
                                </div>
                                <div class="description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/product.js"></script>